body{
    background-color: rgb(233, 215, 192);
}
h1, h2 {
    color: #8f4040;
}
p, li{
  color: rgb(101, 77, 54);
}
ol li {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: #436d68;
}
a {
    color:#436d68 ;
   text-decoration: none;ß
}
a:hover {
    color: rgb(170, 41, 63);
}
img{
    width: 500px;
    height: auto;
    border: 5px #8e5757 solid;
    border-radius: 5%;
}